body {
    background-color: #e0ebeb; /* #f0f5f5  #f44336 rood*/
}
nav{
    background-color: #b3cccc; /*; */
    font-family: 'Nunito Sans', sans-serif;
    overflow: no-display;
    padding: 0 !important;

}
.breadcrumb{
    background-color: #c2d6d6;
}
li.nav-item:hover{
    background-color: #d1e0e0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
li.nav-item.active{
    background-color: #e0ebeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
a.nav-link{
    color: black;
    padding: 10px 10px 10px 10px;
}
li.breadcrumb-item > a{
    color: black;
}
li.breadcrumb-item > a:hover{
    text-decoration: underline;
}
.container{
    font-family: 'Nunito Sans', sans-serif;
}
/* Chat containers */
.chat_container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}
